Flask
flask-cors
gunicorn
openai>=1.1.0
python-docx
PyPDF2
fpdf
requests
numpy
azure-core
azure-identity
azure-storage-file-datalake
azure-ai-formrecognizer
werkzeug
pdfplumber
pdfminer.six
loguru
pinecone-client
tenacity>=8.2.2
boto3>=1.26.0
llama-index==0.10.30
typing-extensions>=4.5.0
tiktoken
nltk
