Flask
flask-cors
openai>=1.1.0
python-docx
PyPDF2
fpdf
requests
numpy
azure-core
azure-storage-file-datalake
werkzeug
pdfplumber
pdfminer.six
loguru
gunicorn
azure-ai-formrecognizer
azure-identity
azure-storage-file-datalake
pinecone
tenacity>=8.2.2
boto3>=1.26.0
llama-index==0.10.30